/target/
/build/target/
/autoProperties-agent/target/
/autoProperties-common/target/
/autoProperties-server/target/
\.project

\.settings/org\.eclipse\.m2e\.core\.prefs

\.vscode/settings\.json

autoProperties-agent/\.classpath

autoProperties-agent/\.settings/org\.eclipse\.jdt\.core\.prefs

autoProperties-agent/\.settings/org\.eclipse\.m2e\.core\.prefs

autoProperties-common/\.classpath

autoProperties-common/\.settings/org\.eclipse\.jdt\.core\.prefs

autoProperties-common/\.settings/org\.eclipse\.m2e\.core\.prefs

autoProperties-server/\.classpath

autoProperties-server/\.settings/org\.eclipse\.jdt\.core\.prefs

autoProperties-server/\.settings/org\.eclipse\.m2e\.core\.prefs

build/\.settings/org\.eclipse\.m2e\.core\.prefs

\.vscode/tasks\.json
